<form  #empForm="ngForm"  (ngSubmit)="saveEmployee(regiserData)">
<div class="panel panel-primary" >
    <div class="panel-heading">
         <h3 class="panel-title">Create Employee</h3>

    </div>
    <div class="panel-body">
        <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
            <label for="name" class="control-label">Full Name</label>
            <input required id="name" name="name" [(ngModel)]="regiserData.name" type="text" class="form-control"
            #name="ngModel">
            <span class="help-block" *ngIf="name.invalid && name.touched"> Full Name Required.</span>
        </div>
<!--         
        <div>touched: {{fName.touched}}</div>
        <div>untouched: {{fName.untouched}}</div>
        <div>pristine: {{fName.pristine}}</div>
        <div>dirty: {{fName.dirty}}</div>
        <div>valid: {{fName.valid}}</div>
        <div>invalid: {{fName.invalid}}</div>
        <br>
        <div>touched: {{empForm.touched}}</div>
        <div>untouched: {{empForm.untouched}}</div>
        <div>pristine: {{empForm.pristine}}</div>
        <div>dirty: {{empForm.dirty}}</div>
        <div>valid: {{empForm.valid}}</div>
        <div>invalid: {{empForm.invalid}}</div> -->
    
        <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
            <label for="email" class="control-label">Email</label>
            <input [required]="gender.value=='Male'" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" id="email" name="email" [(ngModel)]="regiserData.email" type="text" class="form-control" #email="ngModel">
            <span class="help-block" *ngIf=" email.errors?.required && email.touched"> Email Required.</span>
            <span class="help-block" *ngIf=" email.errors?.pattern && email.touched"> Email Is Invalid.</span>
            <!-- {{email.errors | json}} -->
        </div>
        <div class="form-group" [class.has-error]="phoneNumber.invalid && phoneNumber.touched" [class.has-success]="phoneNumber.valid">
            <label for="phoneNumber" class="control-label">Phone Number</label>
            <input  [required]="gender.value=='Female'" id="phoneNumber" name="phoneNumber" [(ngModel)]="regiserData.phoneNumber"  type="text" class="form-control" #phoneNumber="ngModel">
            <span class="help-block" *ngIf=" phoneNumber.errors?.required && phoneNumber.touched"> Phone Number Required.</span>
        </div>
        
        <div class="form-group" [class.has-error]="gender.invalid && gender.touched" [class.has-success]="gender.valid">
            <label for="email" class="control-label">Gender</label>
            <div class="form-control">
                <label class="radio-inline">
                    
                    <input required type="radio" value="Male" name="gender" [(ngModel)]="regiserData.gender" #gender="ngModel">
                    Male
                    
                </label>
                <label class="radio-inline">
                    
                    <input type="radio" value="Female" name="gender" [(ngModel)]="regiserData.gender" #gender="ngModel" required>
                    Female
                
                </label>
                <!-- {{gender.value | json}} -->
                <span class="help-block" *ngIf=" gender.errors?.required && gender.touched"> Gender Required.</span>
            </div>
            
        </div>

        <div class="form-group" [class.has-error]="isActive.invalid && isActive.touched" [class.has-success]="isActive.valid">
 
            <div class="form-control">
                <label class="checkbox-inline" class="control-label">
                    <input type="checkbox"  name="isActive" [(ngModel)]="regiserData.isActive" #isActive="ngModel">
                    Is Active
                    <span class="help-block" *ngIf=" isActive.errors?.required && isActive.touched"> Is Active Required.</span>
                </label>
        
            </div>
            
        </div>

        <div class="form-group">
            <label for="department" class="control-label">Department</label>
            <select id="department" name="department" [(ngModel)]="regiserData.department" class="form-control">
                <option *ngFor="let dept of departments" [value]="dept.id">
                    {{dept.name}}
                </option>
                
                
                </select>
                <span class="help-block"> Department Required.</span>
        </div>

        <div class="form-group" >
            <label for="dob" class="control-label">Date of birth</label>
            <input id="dob" name="dob" [(ngModel)]="regiserData.dob" type="date" class="form-control">
            <span class="help-block" > Date Of Birth Required.</span>
        </div>

        <div class="form-group">
            <label for="photoPath" class="control-label">Photo Path</label>
            <input id="photoPath" name="photoPath" [(ngModel)]="regiserData.photoPath" type="text" class="form-control" #photoPath="ngModel">
            <span class="help-block"> Photo Path Required.</span>
        </div>
        <div class="form-group">
            <button type="button" [disabled]="photoPath.pristine && photoPath.untouched" (click)="togglePhotoPreview()" class="btn btn-primary"> 
                {{previewPhoto?"Hide":"Show"}} Preview
                

            </button>

        </div> 

        <div class="form-group" >
            <img [src]="regiserData.photoPath" height="200" width="200" *ngIf="previewPhoto">


        </div>
        

        
</div>
        
        
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" [disabled]="empForm.invalid"> Save</button>
        </div>
    </div>
        </form>
        
        {{empForm.value | json}}
        {{regiserData | json}}