<div class="container">
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>
            <a routerLink="list">List</a>
        </li>
        <li>
            <a routerLink="create">Register</a>
        </li>
        <li>
            <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li>
            <a class="nav-link" routerLink="lifeCycle">Life Cycle </a>
        </li>
        <li>
            <a class="nav-link" [routerLink]="['/employee', 1]">Employee Details</a>
        </li>

    </ul>

</nav>

<router-outlet></router-outlet>
</div>